.loginform{
    position: relative;
    left: 25%;
    top: 20%;
    width: 40%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

#email_input, #password_input{
    width: 100%;
    margin: 10px 0 7px 0;
}

mat-label{
    font-weight: 500;
}

mat-error{
    font-size: 15px;
    font-weight: 500;
}

button{
    position: relative;
    top: 10px;
}